$tono-oscuro: #74610d;
$dorado: #d2ae6d;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $tono-oscuro;
    text-decoration: none;
    list-style: none;
}

header {
    min-height: 100vh;
    position: relative;

    img {
        width: 100%;
        margin: 0px;
        margin-bottom: 2rem;
    }

    .headerdesktop {
        display: none;
    }

    .nombres {
        position: absolute;
        top: 20%;
        right: 45%;
        width: 50%;
    }


    .abajo {
        display: block;
        width: 3rem;
        margin: 0px auto;
        margin-top: 0.5rem;
        margin-bottom: 3.5rem;
        text-align: center;
    }
}

.noscasamos {
    text-align: center;

    img {

        top: 20%;
        width: 80%;
        text-align: center;

    }
}

.celebremos {
    vertical-align: middle;
    background-color: #d3c2a4;
    text-align: center;
    min-height: 100vh;

    .abajo {
        display: block;
        width: 3rem;
        margin: 0px auto;
        margin-top: 1rem;
        margin-bottom: 3.2rem;
        text-align: center;

    }

    img {
        width: 8rem;
        margin: 2rem;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
    }

    p {
        padding: 1rem;
        color: #74610d;
        font-family: 'Montserrat', sans-serif;
        line-height: 2rem;
        margin: 0px;
    }

    .btn {
        background-color: white;
        opacity: 90%;
        color: $tono-oscuro;
        border: $tono-oscuro;
        margin: 0.5rem;
        margin-bottom: 2rem;

        &:focus {
            background-color: white;
            color: $tono-oscuro;
        }

        &:active {
            background-color: white;
            color: $tono-oscuro;
            border: $tono-oscuro
        }

        &:hover {
            background-color: white;
            color: $tono-oscuro;
            border: $tono-oscuro
        }
    }

}

.group {
    @extend .celebremos;


    .dresscode {

        background-color: white;

    }

    .regalo {

        .modal-body {
            ul {
                text-align: center;
                margin: 0px auto;
            }
        }

        .modal-header {
            background-color: #d3c2a4;
        }

        .modal-footer {
            button {
                background-color: #d3c2a4;
                color: white;
            }
        }
    }
}

.musica {
    @extend .celebremos;
    background-color: white;
    padding-top: 2rem;


    .btn-primary {
        background-color: #d2ae6d;
        color: white;
        border: #74610d;
        box-shadow: none;

        &:disabled {
            border: #74610d;
            box-shadow: none;
            background-color: #74610d;
        }

        &:active {
            border: #74610d;
            box-shadow: none;
        }
    }
}


.instagram {
    background-color: white;

    img {
        width: 100%;
    }

    .instadesktop {
        display: none;
    }
}

.container {
    text-align: center;
    height: auto;


    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 0px;
    }

    img {
        width: 50%;
        margin: 0 auto;
    }

    .nosotros {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        height: auto;

        img {
            width: 6rem;
            padding: 0.5rem;
            margin: 0px auto;
            transition: transform .2s;
            height: auto;

            &:hover {
                transform: scale(2);
            }
        }

    }
}

.footer {
    margin: 0% auto;
    text-align: center;
    position: relative;

    img {
        z-index: 1;
        width: 100%;

    }

    .btn-primary {

        z-index: 3;
        background-color: #d3c2a4;
        color: #74610d;
        border: #74610d;
        width: 70%;
        margin: 0px auto;
        margin-bottom: 2rem;
        margin-top: 2rem;


    }
}

@media screen and (min-width: 440px) {
    .container {
        .nosotros {
            img {
                width: 16rem;
                margin: 3rem;

            }
        }
    }

    header {
        .headermovil {
            display: none;
        }

        .headerdesktop {
            display: block;
        }

        .nombres {
            width: 30%;
        }
    }

    .instagram {
        .instadesktop {
            display: block;
        }

        .instacel {
            display: none;
        }
    }
}